<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- MySQL Driver -->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <!-- Database URL -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/hostel_food_feedback?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=Asia/Kolkata
        </property>

        <!-- MySQL Username -->
        <property name="hibernate.connection.username">
            root
        </property>

        <!-- MySQL Password -->
        <property name="hibernate.connection.password">
            Hostel@1234
        </property>

        <!-- Use existing tables -->
        <property name="hibernate.hbm2ddl.auto">
            validate
        </property>

        <!-- Display SQL in terminal -->
        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>
        <mapping class="com.hostelfood.entity.User"/>
<mapping class="com.hostelfood.entity.Student"/>
<mapping class="com.hostelfood.entity.Feedback"/>
<mapping class="com.hostelfood.entity.MenuSuggestion"/>

    </session-factory>

</hibernate-configuration>